
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-rectangle{
    width: 375px;
    height: 356px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 32px 32px;
background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));

box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
}

h2{
    color: var(--Light-Blue, #CAC9FF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Hanken Grotesk";
    font-size: 18px;
    font-weight: 700;
    margin-top: 44px;
    width: 94px;
    height: 23px;   
}
h1{
    color: var(--White, #FFF);
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: "Hanken Grotesk";
font-size: 24px;
font-weight: 700;
}
.description{
 color: var(--Light-Blue, #CAC9FF);
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: "Hanken Grotesk";
font-size: 16px;
font-weight: 500;
width: 260px;
height: 42px;
margin-bottom: 40px;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    background: linear-gradient(
      to bottom,
      #4D21C9 0%,
      rgba(63, 33, 201, 0.64) 35.88%,
      rgba(37, 33, 201, 0) 100%
    );
    border-radius: 50%;
  }

  .six{
    display: flex;
    flex-direction: column;
    color: var(--White, #FFF);
    align-items: center;
    width: 63px;
    height: 72px;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Hanken Grotesk";
    font-size: 56px;
    font-weight: 800;
    line-height: 72px;
  }
  #id0f100{
    display: flex;
    justify-content: center;
    color: var(--Light-Blue,  grey);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Hanken Grotesk";
    font-size: 16px;
    font-weight: 700;
  }
  h3{
 color: var(--Dark-Navy, #303B59);
font-feature-settings: 'liga' off, 'clig' off;
font-family: "Hanken Grotesk";
font-size: 18px;
font-weight: 700;
display: flex;
align-items: flex-start;

  }
  img{
    width: 20px;
height: 20px;
flex-shrink: 0;
  }
  .wraper{
    display: flex;
    align-items: center;
  }
  .components{
    display: flex;
    justify-content: space-between;
    width: 315px;
    height: 56px;
    border-radius: 12px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  .reaction{
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
  }
  .continiue-cont{
    width: 315px;
    height: 56px;
    border-radius: 128px;
    background: var(--Dark-Navy, #303B59);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .continiue{
    color: var(--White, #FFF);
    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Hanken Grotesk";
    font-size: 18px;
    font-weight: 700;
  }
  span{
    color: var(--Dark-Navy, #303B59);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Hanken Grotesk";
    font-size: 16px;
    font-weight: 700;

  }
  p{
    margin-left: 15px;
  }
  @media(min-width: 1279px){
.main{
  display: flex;
  flex-direction: row;
  width: 736px;
  height: 512px;

}
.elements{
flex-direction: column;
align-items: space-around;
justify-content: space-between;
width: 368px;
height: 512px;
 margin-left: 20px;
  }
  .main-rectangle{
    width: 368px;
    height: 512px;
    border-radius: 32px;
  }
  h1{
   font-size: 32px;
   font-weight: 700;
  }
  .description{
    font-size: 18px;
    font-weight: 500;
  }
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.memory{
  background: var(--yellow-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E);
}
.verbal{
background: var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F);
}
.visual{
background: var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F);
}
